.corfooter {
    background-color:#FAF0E6;
  }

  .corfundo {
      background-color: RosyBrown;
  }

  .cormeio {
    background-color: rgb(163, 100, 100);
}


.letra {
    font-family: 'Sansita Swashed', cursive;
  }

  .letra2{
      font-family: 'Sansita Swashed', cursive;}