.corfooter {
    background-color:#FAF0E6;
  }

  .corfundo {
      background-color: rgb(206, 150, 150);
  }

  .corhome {
    background-color: rgb(161, 89, 89);
}
  .cormeio {
    background-color: rgb(236, 198, 198);
}


.letra {
    font-family: 'Sansita Swashed', cursive;
  }


.letra2 {
   font-family: 'Cinzel', serif;}

   
.letra3 {
  font-family: 'Amatic SC', cursive;}

      
.centro {text-align: center;} 


.textocor{color: white}

.corfundob{background-color: RosyBrown;}

.tamanho{height: 30%;
width: 30%;}


.tamanho2{height: 50%;
  width: 50%;}

.logo-spin {
  animation: App-logo-spin infinite 10s linear;
}


